In [2]:
 # Dependencies
import matplotlib.pyplot as plt
import requests
import pandas as pd
import numpy as np
import os

In [3]:
polling_class_df  = pd.read_csv("ClassSuperHeroesPicks.csv")
polling_jordan_df = pd.read_csv("JordanSuperHeroesPicks.csv")
polling_mikhail_df = pd.read_csv("responses_538.csv")
polling_josh_df = pd.read_csv("JoshNetworkSuperHeroesPicks.csv")

polling_class_df.drop(columns="Unnamed: 7", index=0, inplace=True)
polling_class_df.reset_index(drop=True,inplace=True)
polling_class_df

,Timestamp,Intelligence,Combat,Speed,Durability,Strength,Power (Non-physical)
0,2020/04/13 9:37:21 PM EST,4,5.0,5,4,5,5
1,2020/04/13 9:37:21 PM EST,5,5.0,5,3,4,5
2,2020/04/13 9:40:53 PM EST,5,2.0,4,2,2,4
3,2020/04/13 9:44:04 PM EST,5,4.0,3,5,4,5
4,2020/04/14 12:25:25 PM EST,4,4.0,5,2,2,1
5,2020/04/14 1:16:48 PM EST,5,3.0,3,3,4,5
6,2020/04/14 2:39:13 PM EST,3,1.0,5,5,4,2
7,2020/04/14 6:03:35 PM EST,4,3.0,1,4,3,3
8,2020/04/14 8:09:11 PM EST,4,3.0,2,4,4,5
9,2020/04/15 7:27:31 PM EST,4,5.0,5,2,3,5
10,2020/04/16 3:31:29 PM EST,5,4.0,4,5,5,2

In [4]:
# combined_df = pd.concat(polling_jordan_df,polling_mikhail_df,polling_josh_df,polling_class_df)
combined_df = polling_class_df.append(polling_jordan_df,).append(polling_mikhail_df).append(polling_josh_df).reset_index(drop=True)
combined_df

,Timestamp,Intelligence,Combat,Speed,Durability,Strength,Power (Non-physical)
0,2020/04/13 9:37:21 PM EST,4,5.0,5,4,5.0,5
1,2020/04/13 9:37:21 PM EST,5,5.0,5,3,4.0,5
2,2020/04/13 9:40:53 PM EST,5,2.0,4,2,2.0,4
3,2020/04/13 9:44:04 PM EST,5,4.0,3,5,4.0,5
4,2020/04/14 12:25:25 PM EST,4,4.0,5,2,2.0,1
5,2020/04/14 1:16:48 PM EST,5,3.0,3,3,4.0,5
6,2020/04/14 2:39:13 PM EST,3,1.0,5,5,4.0,2
7,2020/04/14 6:03:35 PM EST,4,3.0,1,4,3.0,3
8,2020/04/14 8:09:11 PM EST,4,3.0,2,4,4.0,5
9,2020/04/15 7:27:31 PM EST,4,5.0,5,2,3.0,5
10,2020/04/16 3:31:29 PM EST,5,4.0,4,5,5.0,2
11,NaN,4,4.0,4,5,4.0,3
12,NaN,5,5.0,3,4,3.0,2
13,NaN,4,4.0,3,4,3.0,3
14,NaN,5,4.0,2,4,4.0,4
15,NaN,4,5.0,4,4,5.0,5
16,NaN,5,4.0,4,3,4.0,3
17,NaN,4,5.0,3,4,4.0,3
18,NaN,5,3.0,3,5,3.0,5
19,NaN,5,1.0,1,4,3.0,5
20,NaN,4,4.0,2,3,2.0,5
21,NaN,5,3.0,2,4,3.0,3
22,NaN,5,5.0,2,4,3.0,3
23,NaN,5,5.0,5,5,4.0,4
24,NaN,5,5.0,5,5,5.0,5
25,NaN,5,4.0,4,4,4.0,4
26,NaN,4,4.0,4,5,NaN,5
27,NaN,5,3.0,4,5,3.0,4
28,NaN,5,3.0,3,4,3.0,4
29,NaN,5,3.0,4,4,3.0,4
30,NaN,5,4.0,3,4,4.0,3
31,4/15/2020 21:51,4,5.0,5,3,4.0,5
32,4/15/2020 22:00,4,5.0,4,3,4.0,5
33,4/15/2020 22:02,5,3.0,5,4,3.0,5
34,4/15/2020 22:07,5,1.0,1,1,1.0,1
35,4/15/2020 23:48,5,5.0,5,5,5.0,5
36,2020/04/15 9:44:34 PM EST,5,5.0,5,1,5.0,5
37,2020/04/15 9:50:10 PM EST,5,4.0,3,5,3.0,4
38,2020/04/15 9:50:52 PM EST,5,3.0,3,5,5.0,5
39,2020/04/15 9:57:55 PM EST,4,3.0,3,5,3.0,5
40,2020/04/15 9:58:53 PM EST,4,3.0,5,5,3.0,3
41,2020/04/15 10:01:58 PM EST,3,5.0,4,3,4.0,2
42,2020/04/15 10:52:38 PM EST,5,3.0,5,5,4.0,5
43,2020/04/16 7:20:01 AM EST,5,4.0,4,5,4.0,3
44,2020/04/16 10:07:02 AM EST,5,3.0,4,5,4.0,1
45,2020/04/16 10:39:20 AM EST,3,4.0,3,2,5.0,5
46,2020/04/16 11:20:02 AM EST,4,3.0,2,3,4.0,5
47,2020/04/16 12:47:15 PM EST,2,3.0,2,5,3.0,5

In [10]:
heros_clean_df = pd.read_csv("totalHeroStats.csv")
heros_clean_df.drop(columns="Unnamed: 0", inplace=True)
heros_clean_df

,combat,durability,id,intelligence,name,power,speed,strength
0,64.0,80.0,1.0,38.0,A-Bomb,24.0,17.0,100.0
1,85.0,65.0,2.0,88.0,Abe Sapien,100.0,35.0,28.0
2,65.0,64.0,3.0,50.0,Abin Sur,99.0,53.0,90.0
3,95.0,90.0,4.0,63.0,Abomination,62.0,53.0,80.0
4,55.0,100.0,5.0,88.0,Abraxas,100.0,83.0,63.0
...,...,...,...,...,...,...,...,...
562,28.0,100.0,728.0,50.0,Ymir,98.0,27.0,100.0
563,90.0,25.0,729.0,88.0,Yoda,100.0,33.0,52.0
564,56.0,28.0,730.0,81.0,Zatanna,100.0,23.0,10.0
565,28.0,28.0,731.0,50.0,Zoom,100.0,100.0,10.0
566,64.0,85.0,732.0,100.0,Ironman,100.0,58.0,85.0

In [11]:
polling_df = combined_df

norm = polling_df.mean().sum()

weights = polling_df.mean() / norm
weights

Intelligence            0.192888
Combat                  0.160590
Speed                   0.152516
Durability              0.168665
Strength                0.156677
Power (Non-physical)    0.168665
dtype: float64

In [21]:
heros_clean_df["Total score"] = heros_clean_df[[
    "intelligence",
    "combat",
    "speed",
    "durability",
    "strength",
    "power"]].dot(
weights.rename({
    "Intelligence": "intelligence",
    "Combat": "combat",
    "Speed": "speed",
    "Durability": "durability",
    "Strength": "strength",
    "Power (Non-physical)": "power"}).squeeze()
)
heros_clean_df[["name", "Total score"]]

            name  Total score
0         A-Bomb    53.409101
1     Abe Sapien    68.178953
2       Abin Sur    69.759353
3    Abomination    73.662518
4        Abraxas    82.068966
..           ...          ...
562         Ymir    67.322135
563         Yoda    65.690540
564      Zatanna    51.280656
565         Zoom    52.548332
566      Ironman    82.932962

[567 rows x 2 columns]

In [24]:
print("World's best super hero(s)")
heros_clean_df[heros_clean_df["Total score"] == heros_clean_df["Total score"].max()]

World's best super hero(s)

,combat,durability,id,intelligence,name,power,speed,strength,Total score
320,100.0,100.0,426.0,100.0,Man of Miracles,100.0,100.0,100.0,100.0
383,100.0,100.0,503.0,100.0,One-Above-All,100.0,100.0,100.0,100.0

In [23]:
print("World's best super hero(s)")
heros_clean_df[heros_clean_df["Total score"] == heros_clean_df["Total score"].min()]

,combat,durability,id,intelligence,name,power,speed,strength,Total score
8,20.0,5.0,10.0,10.0,Agent Bob,5.0,13.0,8.0,10.06345